<html xmlns:th="http://www.thymeleaf.org">
<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="../res/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>

    <ul class="layui-nav fly-nav-user" if>
      <li class="layui-nav-item" th:if="${session.userid == null}">
        <a class="iconfont icon-touxiang layui-hide-xs" href="../user/login.html"></a>
      </li>
      <li class="layui-nav-item" th:if="${session.userid == null}">
        <a href="/login">登录</a>
      </li>
      <li class="layui-nav-item" th:if="${session.userid != null}"  >
        <a href="../user/reg.html" th:text="${session.userid}"></a>
      </li>
      <li class="layui-nav-item" th:if="${session.userid != null}" >
        <a href="/account/loginout">退出</a>
      </li>
    </ul>
  </div>
</div>